
#nav_list a{
	color:white;
	margin-left:70%;
}
#nav_list a:hover{
	color:#751ce3;
}



@media screen and (min-width:1920px) { 
	/* iMac 21.5" paysage = 1920px */

	.descriptionprojet p{
		width:5%;
	}

	} /*accolade du media*/




@media screen and (min-width:2560px) {
	/* iMac 27" paysage = 2560px */


}	/*accolade du media*/







@media screen and (max-width:1280px) {
	/* Notebook */


}/*accolade du media*/





@media screen and (max-width:1024px) {
	/* iPad portrait & landscape */
	/* iPhone6+ paysage = 960px */

}/*accolade du media*/


@media screen and (max-width:980px) {
	#fondhome p{
	font-size:2.5em;
	}

	#fondhome{
		padding-bottom:50px;
		margin-top:70px;
		padding-top:100px;
	}

	p.legende{
		font-size:0.7em;
	}

	#apropos{
		margin-top:20px;
	}

	#apropos p{
		font-size:2.3em;
	}

	#projet-regards p{
		font-size:2em;
	}
}/*accolade du media*/



@media screen and (max-width:768px) {
	/* iPad portrait = 768px */
	
}/*accolade du media*/






@media screen and (max-width:667px) {
	/* Mobiles paysage */
	/* iPhone6 paysage = 667px */
	/* iPhone 5s paysage = 568px */
	/* iPhone 4 paysage = 468 px */
	body{
		height:60%
	}

	.buttonset{
		background: #64e4c8;
	}

	.header{ /*le header disparait*/
	opacity:0;
	}

	#menuplus{display: inline; 
	} /*à la place on fait apparaitre le menu pour smartphones*/



}/*accolade du media*/


@media screen and (max-width:568px) {
	/* Mobiles paysage */
	/* iPhone6 paysage = 667px */
	/* iPhone 5s paysage = 568px */
	/* iPhone 4 paysage = 468 px */
	.buttonset{
		background: red;
	}
	
}

@media screen and (max-width:468px) {
	/* Mobiles paysage */
	/* iPhone6 paysage = 667px */
	/* iPhone 5s paysage = 568px */
	/* iPhone 4 paysage = 468 px */
	.buttonset{
		background: purple;
	}
}

@media screen and (max-width:375px) {
	/* Mobiles portrait */
	/* iPhone6+ portrait = 540px */
	/* iPhone6 portrait = 375px */
	/* iPhone4 & iPhone5 portrait = 320px */
	.buttonset{
		background: pink;
	}
}/*accolade du media*/





























/* **********************************IPHONE 4********************************************** */



@media screen and (max-width:320px) {


} /*accolade du média*/

