


/***************************************PARAMETRES GENERAUX***************************************/
body, html {

	font-family:'NimbusSansL-Bold', Arial, sans-serif; 
	margin:0; 
	padding:0;
	min-height:100%; /* Pour avoir des blocs en pleine hauteur */
	cursor:crosshair;
	}
	

a{
	text-decoration: none; /*on enlève les décorations des liens*/
	color:black; /*bleu turquoise*/
	}


.previous,.next {
    position:absolute;
    top:600px;
    height:580%;
    width:50%;
    opacity:0.2;
    display:inline-block;
    z-index:7;
}

.next{
	/*background:red;*/
	cursor: url("../images/droite2.png"),auto;
	margin-left:50%;
}

.previous{
	/*background:blue;*/
	cursor: url("../images/gauche2.png"),auto;
}

.videoWrapper,.grid1{
	z-index:15;
	position:relative;
}

#body-trombi .next, #body-trombi .previous{
	height:320%;
}

#body-dingbats .next, #body-dingbats .previous{
	height:1400%;
}

#body-sources .next, #body-sources .previous{
	height:700%;
}

#body-mask .next, #body-mask .previous{
	height:550%;
}

#body-nuit .next, #body-nuit .previous{
	height:960%;
}

#body-bluevelvet .next, #body-bluevelvet .previous{
	height:140%;
}

#body-synesthesie .next, #body-synesthesie .previous{
	height:80%;
}

#body-oxfam .next, #body-oxfam .previous{
	height:10px;
}

#body-magritte .next, #body-magritte .previous{
	height:380%;
}

#body-iseeyou .next, #body-iseeyou .previous{
	height:280%;
}


/***************************************ACCUEIL***************************************/
/************BIENVENUE************/

#fondhome{
	width: 100%;
	height: 100%;
	background-color:white /* #b2ebdf turquoise*/;background-image: url("../images/texture.jpg");
	background-size: 80%;
	background-repeat: no-repeat;
	background-position:center;
	text-align:center;
	margin-bottom:30px;
	margin-top:20px;
	padding-top:110px;
	padding-bottom:50px;
}


#fondhome #logo{
	width:13%;
	margin:auto;
	display:none; /***** !!!! LOGO CACHE !!!! *****/
}

#fondhome p{
	font-size:3.5em;
	text-align:center;
	width:63%;
	margin:auto;
	color:white;
	opacity:0.9;
}


#down{
	padding-top:200px;
	margin-bottom:20px;
	width:5%;
}

#down img{
	width:5%;
	margin-top:30px;
}



/************HEADER************/
header{
	margin-top:0;
	padding-top:15px;
	width:80%;
	margin:auto;
}

.headerresponsive{
	visibility:hidden;
	text-align:center;
	margin-left:0;
	margin:auto;
	margin-top:-10px;
	margin-bottom:10px;
}



header #logo{
	width:10%;
	margin-left:5%;
	margin:auto;
}

header p{
	width:85%;
	margin:auto;
	font-size:1.3em;
	color:black;
	opacity:0.8;
}

header span{
	font-family:'NimbusSansL-Regular', Arial, sans-serif; 
}

header > * {
	display: inline;
	vertical-align: middle;
}

/************PROJETS************/
.b-x { /*mouvement x de certaines bulles*/
	-webkit-animation: anim-x 6s infinite linear; 
	-moz-animation: anim-x 6s infinite linear; /*vitesse sous mozilla*/
	-o-animation: anim-x 6s infinite linear; /*vitesse sous opera*/
	}

@-webkit-keyframes anim-x {
	0% { -webkit-transform:  translate(0px,10px) ; } 
	30% { -webkit-transform:  translate(0px,0px); }
	100% { -webkit-transform:  translate(0px,10px); }
	}
	
@-moz-keyframes anim-x { /*mozilla*/
	0% { -moz-transform:  translate(0px,10px) ; } 
	30% { -moz-transform: translate(0px,0px); }
	100% { -moz-transform:  translate(0px,10px); }
	}
	
@-o-keyframes anim-x { /*opera*/
	0% { -o-transform: translate(0px,10px) ; }
	30% { -o-transform:  translate(0px,0px); }
	100% { -o-transform: translate(0px,10px); }
	}

.b-y{ /*mouvement y de certaines bulles*/
	-webkit-animation: anim-y 15s infinite linear;
	-moz-animation: anim-y 15s infinite linear;
	-o-animation: anim-y 15s infinite linear;
	}

@-webkit-keyframes anim-y {
	0% { -webkit-transform: translate(0px,10px); }
	60% { -webkit-transform: translate(0px,30px); }
	100% { -webkit-transform: translate(0px,10px); }
	}

@-moz-keyframes anim-y {
	0% { -moz-transform: translate(0px,10px); }
	60% { -moz-transform: translate(0px,30px); }
	100% { -moz-transform: translate(0px,10px); }
	}

@-o-keyframes anim-y {
	0% { -o-transform:translate(0px,10px); }
	60% { -o-transform: translate(0px,30px); }
	100% { -o-transform:translate(0px,10px); }
	}

.b-z{ /*mouvement y de certaines bulles*/
	-webkit-animation: anim-z 15s infinite linear;
	-moz-animation: anim-z 15s infinite linear;
	-o-animation: anim-z 15s infinite linear;
	}

@-webkit-keyframes anim-z {
	0% { -webkit-transform: translate(0px,0px); }
	40% { -webkit-transform: translate(0px,-40px); }
	100% { -webkit-transform: translate(0px,0px); }
	}

@-moz-keyframes anim-z {
	0% { -moz-transform: translate(0px,00px); }
	40% { -moz-transform: translate(0px,-40px); }
	100% { -moz-transform: translate(0px,00px); }
	}

@-o-keyframes anim-z {
	0% { -o-transform:translate(0px,0px); }
	40% { -o-transform: translate(0px,-40px); }
	100% { -o-transform:translate(0px,0px); }
	}



#projets{
	width:100%;
	height:100%;
	margin:auto;
	margin-top:-110px;
}

.projet{
	opacity:0.75;
	-ms-filter: "prodig:DXImageTransform.Microsoft.Alpha(Opacity=25)"; /* Hack IE8 */
    filter: alpha(opacity = 25); /* Hack IE 5-7 */
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}


.legende{  /*bloc dans le bloc vignette, contenant le titre du projet*/
	font-family:'NimbusSansL-Regular', Arial, sans-serif; 
	font-size:0.7em;
	width:100%;
	color:black;
	opacity:0;
	-ms-filter: "prodig:DXImageTransform.Microsoft.Alpha(Opacity=25)"; /* Hack IE8 */
    filter: alpha(opacity = 25); /* Hack IE 5-7 */
    -webkit-transition: opacity 0.5s ease-in-out;/* transition pour Chrome et Safari */
    -moz-transition: opacity 0.5s ease-in-out;/* transition pour Firefox */
    -o-transition: opacity 0.5s ease-in-out;/* transition pour Opéra */
    transition: opacity 0.5s ease-in-out; /* on écrit cette ligne à la fin de façon à ce que ce soit elle qui soit prise en compte lorsque l'attribut transition sera pris en compte par tous les navigateurs */
 	}




/*Projet Trombinoscope*/
#trombi { 
	width: 370px;
	height: 300px;
    background:url("../pages/images/trombi/Marion.jpg") no-repeat center ;
    background-size:100%;
    margin-left:15%;
    margin-top:200px;
    position:relative;
}

#trombi:hover{
	opacity:1;
	z-index:6;
}

#trombi:hover .legende{
	opacity:1;
}


/*Projet Back Home*/
#sources { 
	width: 300px;
	height: 230px;
    background:url("../pages/images/sources/source1.jpg") no-repeat center ;
    background-size:100%;
    margin-left:41%;
    margin-top:-390px;
    position:relative;
}

#sources:hover{
	opacity:1;
	z-index:6;
}

#sources:hover .legende{
	opacity:1;
}

/*Projet Mask*/
#mask { 
	width: 450px;
	height: 310px;
    background:url("../pages/images/mask/image1_low.jpg")no-repeat center ;;
    background-size:100%;
    margin-left:58%;
    margin-top:-180px;
    position:relative;
	}

#mask .legende{
	margin-bottom:-10px;
}

#mask:hover{
	opacity:1;
	z-index:6;
}

#mask:hover .legende{
	opacity:1;
}


/*Projet Magritte*/
#magritte { 
	width: 430px;
	height: 320px;
    background:url("../pages/images/magritte/3.jpg")no-repeat center ;;
    background-size:100%;
    margin-left:39%;
    margin-top:-115px;
    position:relative;
    z-index:4;
	}

#magritte .legende{
	color:white;
	}

#magritte:hover{
	opacity:1;
	z-index:6;
}

#magritte:hover .legende{
	opacity:1;
}



/*Projet Voyage au bout de la nuit*/
#nuit { 
	width: 300px;
	height: 235px;
    background:url("../pages/images/nuit/3.jpg")no-repeat center ;;
    background-size:100%;
    margin-left:20%;
    margin-top:-228px;
    position:relative;
    z-index:3;
	}


#nuit:hover{
	opacity:1;
	z-index:6;
}

#nuit:hover .legende{
	opacity:1;
}


/*Projet Blue Velvet*/
#bluevelvet { 
	width: 350px;
	height: 225px;
    background:url("../pages/images/bluevelvet/bluevelvet_bouche.png")no-repeat center ;;
    background-size:100%;
    margin-left:38%;
    margin-top:-58px;
    position:relative;
    z-index:3;
	}

#bluevelvet:hover{
	opacity:1;
	z-index:6;
}

#bluevelvet:hover .legende{
	opacity:1;
}


/*Projet I see you*/
#iseeyou { 
	width: 360px;
	height: 300px;
    background:url("../pages/images/iseeyou/iseeyou.PNG")no-repeat center ;;
    background-size:100%;
    margin-left:60%;
    margin-top:-280px;
    position:relative;
    z-index:1;
	}

#iseeyou:hover{
	opacity:1;
	z-index:6;
}

#iseeyou:hover .legende{
	opacity:1;
}

#iseeyou .legende{
	color:white;
	}


/*Projet Synesthésie*/
#synesthesie { 
	width: 300px;
	height: 240px;
    background:url("../pages/images/synesthesie/synesthesie2.png")no-repeat center ;;
    background-size:100%;
    margin-left:35%;
    margin-top:-70px;
   	margin-bottom:200px;
    position:relative;
    z-index:1;
	}

#synesthesie:hover{
	opacity:1;
	z-index:6;
}

#synesthesie:hover .legende{
	opacity:1;
}



/*Projet Dingbats*/
#dingbats { 
	width: 390px;
	height: 310px;
    background:url("../pages/images/dingbats/dingbats.png")no-repeat center ;;
    background-size:100%;
    margin-left:56%;
    margin-top:-420px;
   	margin-bottom:200px;
    position:relative;
    z-index:1;
	}

#dingbats:hover{
	opacity:1;
	z-index:6;
}

#dingbats:hover .legende{
	opacity:1;
}


/*Projet Oxfam*/
#oxfam { 
	width: 300px;
	height: 220px;
    background:url("../pages/images/oxfam/Oxfam6.PNG")no-repeat center ;
    background-size:100%;
    margin-left:18%;
    margin-top:-650px;
   	margin-bottom:200px;
    position:relative;
    z-index:1;
	}

#oxfam:hover{
	opacity:1;
	z-index:6;
}

#oxfam:hover .legende{
	opacity:1;
}



/************FOOTER************/
footer, .footer-projets{
	width:100%;
	padding-top:14px;
	padding-bottom:15px;
	position:fixed;
	bottom:0;
	background:white;
	opacity:0.9;
	z-index:100;
	font-size:0.8em;
}

footer ul{
	display:flex;
}

footer li{
	margin:auto;
	font-family:'NimbusSansL-Regular', Arial, sans-serif;
	opacity:0.8;
	-ms-filter: "prodig:DXImageTransform.Microsoft.Alpha(Opacity=25)"; /* Hack IE8 */
    filter: alpha(opacity = 25); /* Hack IE 5-7 */
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

footer li:hover{
	opacity:0.2;
}











/***************************************PAGES INTERNES - PROJETS***************************************/

	
/************HEADER************/

.descriptionprojet h1{
	margin-bottom:50px;
}

/*
.footer-projets{
	top:0;
	height:15px;
	opacity:0.5;
} 
*/


/* descriptions et légendes dans les projets */
.p_legende{
	font-size:0.7em;
	font-family:'NimbusSansL-Regular', Arial, sans-serif; 
	width:20%;
	background-color:white;
	padding:20px;
	border:1px solid black;
	z-index:1;
}

/* *****************NUIT******************** */
.descriptionprojet{ 
	width: 100%;
	height: 100%;
	font-weight:bold;
	margin:auto;
	text-align:center;

}

#projet-nuit{
	background-image: url("../pages/images/nuit/4.png");
	background-size: 80%;
	background-repeat: no-repeat;
	background-position:center;
	text-align:center;
	margin-bottom:30px;
	margin-top:20px;
	padding-top:110px;
	padding-bottom:50px;
	height:100%;
	width:100%;
}

h1{
	font-family:'NimbusSansL-Bold', Arial, sans-serif; 
	font-size:4em;
	opacity:0.8;
	margin-top:40px;
	margin-bottom:30px;
}

#projet-nuit p{
	font-size:2.5em;
	width:50%;
}

.descriptionprojet p{
	text-align:center;
	margin:auto;
	opacity:0.6;
	padding-bottom:20px;
}

#section-projetnuit{
	width:80%;
	margin:auto;
	text-align:center;
}

#section-projetnuit img{
	width:100%;
	margin-top:30px;
}
/* *****************MAGRITTE******************** */
#projet-magritte{
	height:100%;
	width:100%;
	background-image: url("../pages/images/magritte/IMG_3211-2.png");
	background-size: 80%;
	background-repeat: no-repeat;
	background-position:center;
	text-align:center;
	margin-bottom:30px;
	margin-top:20px;
	padding-top:110px;
	padding-bottom:50px;
}

#projet-magritte p{
	width:60%;
	font-size:2.3em;
	padding-bottom:30px;
	opacity:0.8;
}


#section-magritte{
	width:80%;
	margin:auto;
	margin-top:50px;
}

#body-magritte .explication{
	font-size:1em;
	position:absolute;
	margin-top:5px;
	margin-left:30px;
	width:30%;
}


#section-magritte #tableau{
	width:35%;
	margin-bottom:30px;
	margin-left:18px;
}

#magritte-images{
	width:100%;
	text-align:center;
}

.magritte-print{
	width:95%;
	margin:auto;
	margin-bottom:30px;
	margin-right:19px;
}

#print-2, #print-3{
	width:48%;
}

#magritte-gif{
	width:400px;
	margin-left:30px;
}

.magritte-print-conteneur{
	width:100%;
	text-align:center;
}


#video-magritte{
	text-align:center;
	margin:auto;
	width:10%;
}



/* *****************TROMBINOSCOPE******************** */
#projet-trombi{
	background-image: url("../pages/images/trombi/Julie B.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-size: 80%;
	background-repeat: no-repeat;
	background-position:center;
	text-align:center;
	margin-bottom:40px;
	margin-top:20px;
	padding-top:110px;
	padding-bottom:20px;
	height:100%;
	width:100%;
}

#projet-trombi p{
	width:55%;
	font-size:2.4em;
}

#projet-trombi p a{
	font-style:italic;
}

ul.grid {              /* Bloc qui contient les items de la grille */
	width:78%;         /* Largeur du bloc */
	margin-left:13%;
	margin-bottom:2em;
	margin-top:20px;
	}	

ul.grid li { /*éléments de la grille*/
	width:45.5%;
	display:inline-block; /* Alignement horizontal */
	text-align:center;    /* Texte centré */
	margin-right:2%;    /* Marge à droite de l'item */
	margin-bottom:1em;
	}

ul.grid li img{
	width:100%; /* Largeur des blocs pour grille 3 colonnes */
	vertical-align: middle;}	

ul.grid li.fatma { 
	background:url("../pages/images/trombi/Fatma-gif.gif"); /*on met une image en fond d'item*/
	background-size:cover;} 
ul.grid li.julief {
	background:url("../pages/images/trombi/JulieF-gif.gif");
	background-size:cover;}
ul.grid li.solene {
	background:url("../pages/images/trombi/Solene-gif.gif");
	background-size:cover;}
ul.grid li.anjali {
	background:url("../pages/images/trombi/Anjali-gif.gif");
	background-size:cover;}
ul.grid li.charlotte {
	background:url("../pages/images/trombi/Charlotte-gif.gif");
	background-size:cover;}
ul.grid li.eloi {
	background:url("../pages/images/trombi/Eloi-gif.gif");
	background-size:cover;}
ul.grid li.julieb {
	background:url("../pages/images/trombi/JulieB-gif.gif");
	background-size:cover;}
ul.grid li.marion {
	background:url("../pages/images/trombi/Marion-gif.gif");
	background-size:cover;}
ul.grid li.clement {
	background:url("../pages/images/trombi/Clement-gif.gif");
	background-size:cover;}
ul.grid li.florian {
	background:url("../pages/images/trombi/Florian-gif.gif");
	background-size:cover;}
ul.grid li.manu {
	background:url("../pages/images/trombi/Manu-gif.gif");
	background-size:cover;}
ul.grid li.lucile {
	background:url("../pages/images/trombi/Lucile-gif.gif");
	background-size:cover;}



ul.grid1 li:hover img{ /*au survol, l'image contenue dans l'item disparait, pour laisser apparaitre le fond de l'item*/
	visibility:hidden ;
}


ul.columns3 li:nth-child(3n),    /* Grille de 3 colonnes : cible tous les 2e éléments de la liste */
/* http://stackoverflow.com/questions/13691699/styling-every-3rd-item-of-a-list-using-css */
	{ margin-right:0;
	}	


/* *****************BLUE VELVET******************** */
#projet-bluevelvet{
	background-image: url("../pages/images/bluevelvet/bluevelvet.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-size: 80%;
	background-repeat: no-repeat;
	background-position:center;
	text-align:center;
	margin-bottom:30px;
	margin-top:20px;
	padding-top:110px;
	padding-bottom:10px;
	height:100%;
	width:100%;
}

#projet-bluevelvet p{
	width:70%;
	font-size:2.5em;
}

#projet-bluevelvet span{
	font-style:italic;
}

#section-bluevelvet{
	width:80%;
	margin:auto
}

#video-bluevelvet, #video-magritte, #video-regards{
	margin-top:50px;
	margin-bottom:100px;
	display:inline-block;
}

#conteneurvideo{
	margin:auto;
	text-align:center;
	width:100%;
}

.explication{
	display:inline-block;
	margin-left:20px;
	width:33%;
	border:1px solid black;
	margin-top:-50px;
	margin-bottom:70px;
	margin-left:90px;
	padding:20px;
}

.explication p{
	font-family:'NimbusSansL-Regular', Arial, sans-serif; 
	font-size:0.7em;
}

.synopsis{
	font-style:italic;
}

.synopsis span{
	text-decoration:underline;
}


/* *****************MASK******************** */
#projet-mask{
	background-image: url("../pages/images/mask/image3_low.jpg");
	background-size: 80%;
	background-repeat: no-repeat;
	background-position:center;
	text-align:center;
	margin-bottom:30px;
	margin-top:20px;
	padding-top:110px;
	padding-bottom:100px;
	height:100%;
	width:100%;
	color:white;
}

#projet-mask p{
	width:58%;
	font-size:2.1em;
	opacity:0.5;
}

#projet-mask span{
	font-style:italic;
}

#projet-mask p a{
	font-style:italic;
	color:white;
}

#section-mask{
	width:80%;
	margin:auto;
	margin-top:50px;
}

#conteneur-images-mask{
	width:100%;
	margin:auto;
	text-align:center;
}

#section-mask img:not(#mask-gif){
	width:100%;
	margin-bottom:1%;
}

#mask-gif{
	width:40%;
}

#section-mask .explication{
	position:absolute;
	margin-top:25px;
	margin-left:40px;
	width:21%;
	border:1px solid black;
	background-color:white;
	padding:20px;
	z-index:4000;
	font-size:1.2em;
}

#section-mask a{
	text-decoration:underline;
	font-weight: bold;
}

#conteneur-video-mask{
	text-align:center;
	margin-top:50px;
	margin-bottom:75px;
	position:relative;
	z-index:80;
}



/* *****************I SEE YOU******************** */
#projet-iseeyou{
	background-image: url("../pages/images/iseeyou/iseeyou_2.png");
	background-size: 80%;
	background-repeat: no-repeat;
	background-position:center;
	text-align:center;
	margin-bottom:30px;
	margin-top:20px;
	padding-top:110px;
	padding-bottom:50px;
	height:100%;
	width:100%;
}

#projet-iseeyou p{
	width:70%;
	font-size:2.5em;
	opacity:0.7;
}

#projet-iseeyou span{
	font-style:italic;
}

#projet-iseeyou p a{
	font-style:italic;
}

#section-iseeyou{
	margin-top:50px;
	width:80%;
	margin:auto;
}

#article-iseeyou{
	position:absolute;
	margin-top:-100px;
	margin-left:-100px;
	z-index:-4000;
}


#iseeyou-images{
	width:100%;
	text-align:center;
	display:inline;
}

#iseeyou-forme2{ /* forme abstraite png*/
	width:60%;
	margin-left:-50px;
	margin-bottom:10px;
	margin-top:-50px;
}

#iseeyou-forme1 {
	width:49%;
	margin:auto;
}

#section-iseeyou .explication{
	background-color:white;
	padding:15px;
	position:absolute;
	margin-left:-120px;
	margin-top:40px;
	z-index:5000;
}

.explication a{
	text-decoration:underline;
	font-weight: bold;
}

#conteneur-video-iseeyou{
	text-align:center;
	margin-top:30px;
	margin-bottom:50px;
}

#video-iseeyou{
	margin:auto;
}


/* *****************SPECIMEN TYPO******************** */
#projet-specimen{
	background-image: url("../pages/images/specimen/vignette.png");
	background-size: 80%;
	background-repeat: no-repeat;
	background-position:center;
	text-align:center;
	margin-bottom:30px;
	margin-top:20px;
	padding-top:110px;
	padding-bottom:50px;
	height:100%;
	width:100%;
}

#projet-specimen p{
	width:60%;
	font-size:2.3em;
	padding-bottom:39px;
	color:white;
}

#projet-specimen span{
	font-style:italic;
}

#projet-specimen p a{
	font-style:italic;
	color:white;
}

#projet-specimen h1{
	color:white;
}


/* *****************SYNESTHESIE******************** */
#projet-synesthesie{
	background-image: url("../pages/images/synesthesie/synesthesie.png");
	background-size: 80%;
	background-repeat: no-repeat;
	background-position:center;
	text-align:center;
	margin-bottom:30px;
	margin-top:20px;
	padding-top:110px;
	padding-bottom:40px;
	height:100%;
	width:100%;
}

#projet-synesthesie p{
	width:66%;
	font-size:2.2em;
	color:white;
	opacity:0.7;
}

#projet-synesthesie span{
	font-style:italic;
}


#projet-synesthesie h1{
	color:white;
}

#section-synesthesie{
	width:80%;
	margin:auto;
}

#video-synesthesie{
	text-align:center;
	margin-top:50px;
	margin-bottom:75px;
}

/* *****************BACK HOME******************** */
#projet-sources{
	background-image: url("../pages/images/sources/source1.png");
	background-size: 80%;
	background-repeat: no-repeat;
	background-position:center;
	text-align:center;
	margin-bottom:30px;
	margin-top:20px;
	padding-top:110px;
	padding-bottom:50px;
	height:100%;
	width:100%;
}

#projet-sources p{
	width:55%;
	font-size:2.4em;
	padding-bottom:60px;
	opacity:0.7;
}

#projet-sources span{
	font-style:italic;
}


#section-projetsources{
	margin:auto;
	text-align:center;
}

#section-projetsources img{
	width:70%;
	margin-top:30px;
}



/* *****************DINGBATS******************** */
#projet-dingbats{
	background-image: url("../pages/images/dingbats/motif.png");
	background-size: 80%;
	background-repeat: no-repeat;
	background-position:center;
	text-align:center;
	margin-bottom:30px;
	margin-top:20px;
	padding-top:110px;
	padding-bottom:50px;
	height:100%;
	width:100%;
}

#projet-dingbats p{
	width:63%;
	font-size:2.5em;
	padding-bottom:10px;
	opacity:0.7;
}

#projet-dingbats span{
	font-style:italic;
}

#section-dingbats{
	width:80%;
	margin:auto;
	height:500px;
	margin-top:120px;
}


#section-dingbats .explication{
	margin-left:4%;
	width:30%;
	background-color:white;
	padding:20px;
	z-index:4000;
	border:1px solid black;
}

article#specimen{
	width:100%;
	margin:auto;
}

.experimentation{
	width:50%;
}

#exp2{
	width:40%;
	position:relative;
	margin-left:55%;
	margin-top:-500px;
	z-index:-2000;
}

.caracteres{
	width:100%;
	margin-top:30px;
}

#clavier{
	width:100%;
	z-index:1000;
	margin:auto;
	margin-bottom:50px;
	margin-top:50px;
}

.affiche{
	width:49%;
	display:inline;
	margin-bottom:5px;
	margin-left:5px;
}

#p3{
	position:absolute;
	margin-left:400px;
	margin-top:150px;
	margin-bottom:30px;
}


#p3 span,#p4 span{
	font-family:'NimbusSansL-Bold', Arial, sans-serif;
}

.edition-photos{
	width:100%;
	display:inline;
	margin-top:100px;
}

#edition1{
	width:30%;
	position:relative;
}

#edition3,#edition4,#edition5{
	width:52%;
	display:inline;
}

#edition3{
	margin-left:380px;
	position:absolute;
	margin-top:-160px;
}

#edition4{
	margin-top:30px;
}

#edition7{
	width:47%;
	margin-top:-50px;
	margin-right:20px;
}

#edition6{
	width:47%;
}

#p4{
	position:absolute;
	margin-top:50px;
	margin-left:50px;
}

#affiches_serigraphie{
	width:100%;
	margin:auto;
	margin-top:100px;
	margin-bottom:10px;
}


/**** OXFAM ****/

#body-oxfam p{
	margin-left:35%;
	margin-top:300px;
	font-size:2.5em;
	opacity:1;
}

#body-oxfam .previous, #body-oxfam .next {
    position:absolute;
    margin-top:-600px;
    height:100%;
    width:50%;
    opacity:0.2;
    display:inline-block;
    z-index:7;
}
























/***************************************A PROPOS***************************************/
#apropos{
	width: 80%;
	height: 100%;
	margin:auto;
	background-image: url("../images/autoportrait2.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	text-align:center;
	padding-bottom:60px;
	margin-bottom:15px;
}

#apropos p{
	font-size:2.8em;
	text-align:center;
	width:75%;
	margin:auto;
	padding-top:60px;
	opacity:0.7;
}

#apropos a{
	color:turquoise;
}

#header-apropos{
	margin-top:7px;
	padding-top:5px;
	padding-bottom:5px;
	width:100%;
	opacity:0.8;
	display:flex;
}


#header-apropos #logo{
	width:7%;
	margin-left:5%;
	margin:auto;
}

#header-apropos p{
	width:85%;
	margin:auto;
	font-size:1em;
	color:black;
	opacity:0.8;
}

#header-apropos span{
	font-family:'NimbusSansL-Regular', Arial, sans-serif; 
}












/* **************************MENU SMARTPHONE*************************************** */
#menuplus{
	display: none; z-index: 10000000000000000000000000000000000;
	margin-top:50px;
} 

#menuplus img{
	width:70%;
	margin-left:20px;
	margin-bottom:-60px;
}

.container{width: 100%;
    z-index: 100000;
    position: fixed;

}

.pushmenu { /*this is the nav*/
  background: white; /*turquoise*/
  opacity:0.9;
  width: 80%;
  height: 100%;
  top: 0;
  z-index: 1000;
  position:fixed;
  overflow: scroll;
}

a .menunav{
	color:black;
}

a.hov {
  display: block; /* drops the nav vertically*/
  color: black;
  font-size: 1.1em;
  text-decoration: none;
  padding: 0.1em;
  padding-left: 1.5em;
}

a.proj {
	font-size: 0.9em;
	padding-left: 4em;
}

#apropos-logo {
	width: 10%.
	}

a.prem{
	margin-top: 50px;
	}

a.hov:hover {
  text-decoration: underline; 
	}

.pushmenu a:active {
  background: white;
  color: black; 
	}

.pushmenu-left { /*largeur à laquelle le menu s'ouvre*/
  left: -80%;
	}

.pushmenu-left.pushmenu-open {
  left: 0;
	}

.pushmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
	}

.pushmenu-push-toright {
  left:50%;
	}

/*Transition*/
.pushmenu, .pushmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;  
	}

#nav_list {
  background: url(../images/icon_nav.png) no-repeat left top;
  cursor: pointer;
  height: 27px;
  width: 33px;
	}

#nav_list a {
  color:black;
	}

#nav-list.active {
  	background-position: -33px top;
	}

.menunav{
	position:absolute;
	font-size:2em;
	}

.buttonset {
     background: white; 
     opacity:0.7;
     height: 16px;
     padding: 10px 20px 20px;
	 }
 
section.content {
   	font-family: Arial, Helvetica, sans-serif;
   	padding: 10px 20px;
	}

div.minireseau{
	height: 15%;
  	padding: 1em;
	padding-top: 2em;
	}

.res{
	width:24%; 
	margin-right: 1.2em;
	float: left;
	}

.end{
	margin-right: 0;
	}

.frist{
	margin-left: 6%;
	}

.separation{ /*ligne séparation entre entête et titres des projets*/
	color:white;
	font-weight:bold;
	font-size:2em;
	width:90%;
	margin-left:5%;
	margin-right:5%;
	opacity:0.6; 
	}


